<h1 style="margin: 1% 0%; text-align: center">Vendeing Maching</h1>
<div nz-row>
  <div nz-col [nzXs]="{ span: 3, offset: 1 }" [nzLg]="{ span: 3, offset: 6 }">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
    
  </div>
  <div nz-col [nzXs]="{ span: 3, offset: 4 }" [nzLg]="{ span: 3, offset: 2 }">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
  <div nz-col [nzXs]="{ span: 3, offset: 4 }" [nzLg]="{ span: 3, offset: 2 }">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="Europe Street beat"
        nzDescription="www.instagram.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
      />
    </ng-template>
  </div>
</div>
<button nz-button nzType="primary">Primary</button>

<router-outlet></router-outlet>
